<div class="text-center">
	<div class="row"><br></div>
	<div class="row">
	    <div class="col-2"></div>
	    <div class="col">
	      <p>my name is sophie and i like to think about frivolous things but mostly what i'm going to eat tomorrow and that's why i made this</p>
	      <button  class="btn btn-primary" href="http://zbeok.weebly.com/">the author</button>
	    </div>
	    <div class="col-2"></div>
	</div>
	<div class="row"><br></div>

	<div class="row">

	    <div class="col-sm">
	    	<p>all the garbage i drew and wrote and stuff</p>
	      <button  class="btn btn-primary" href="/" >behind the scenes</button>
	    </div>
	    <div class="col-sm">
	    	<p>self explanatory.... lol</p>
	      <button  class="btn btn-primary" href="https://www.cdc.gov/mentalhealth/tools-resources/index.htm">mntl health</button>
	    </div>
	 </div>
	<div class="row"><br></div>
	<div class="row"><br></div>
	<div class="row"><br></div>
	<div class="row"><br></div>
	<div class="row">

	    <div class="col">i'm going thru ssri withdrawal rn sdkfljskdlf it makes my brain so unhappy with me holy shit i can't fucking focus</div>
	    <div class="col">all my best friends thought that they were gonna die in high school and started doing drugs and now i'm a straight edge princess with a job</div>
	    <div class="col">"i hate my fucking life i kinda wanna die" - fellatia geisha, 2018</div>
	</div>

</div>